<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG" verbose="1" parallel="tests" thread-count="2">
    <test name="Chrome tests" >
        <parameter name="browserName" value="Chrome"/>
        <classes>
            <class name="test.GoogleSearchTest">
                <methods>
                    <exclude name="searchTest"/>
                    <include name="caseSensitiveSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Firefox tests" >
        <parameter name="browserName" value="Firefox"/>
        <classes>
            <class name="test.GoogleSearchTest">
                <methods>
                    <include name="searchTest"/>
                    <include name="caseSensitiveSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>